<section class="phx-hero">
  <p><%= @tree %></p>
</section>

<div>
  <svg
    phx-hook="Canvas"
    id="graph_canvas"
    width="100%"
    height="100%"
    style="border: 1px solid black"
  >
  </svg>
</div>

<script src="https://d3js.org/d3.v4.min.js"></script>
  
<script>


</script>